
 
 .poster_container{
  position: relative;
  min-width: 1352px;
  height: 300px;
  display: flex;
flex-direction: column;
  background-color: rgb(2,50,83);
  justify-content: center;
  align-items: center;
 }
 .image_back{
  filter: grayscale(100%) opacity(30%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
 } 

 .content_panel{
position: relative;
  width: 100%;
  z-index: 1000;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
 }
 .title h2{
  color: #fff;
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  

 }
 .title{
  margin-bottom: 20px;
 }
 .title h3{
  font-size: 2em;
  font-weight: 600;
 }
 .form_input{
  margin-top: 30px;
  width: 100%;
  height: 46px;
  position: relative;
  z-index: 1000;

 }
 input[type='text']{
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0,0,0,.5);
  border: 0;
  border-radius: 30px;
  padding: 10px 20px;

 }
 input[type='submit']{
  position: absolute;
  top:0;
  right: -1px;
  height: 46px;
  padding: 10px 26px;
  border: 0;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(to right,rgba(30,213,169,1) 0%,rgba(1,180,228,1) 100%);
 }
 form{
  display: flex;
 } 