section.trailers{
     position:relative ;
     z-index: 10;
     width: 100%;
    height: 355px;
    background-color: rgb(2,50,83);
}
section.trailers::before{
    content: '';
    position:absolute ;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
   height: 100%;
   background-color: rgb(2,50,83);
    filter: grayscale(100%) opacity(30%) brightness(63%);
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h427_multi_faces/kHlX3oqdD4VGaLpB8O78M25KfdS.jpg"); 
    background-repeat: no-repeat;
    background-position: 50% 50%;   
}
.wrap_video_content{
    position: relative;
    z-index: 100;
    padding-top: 30px;
    width: 100%;
    height: 100%;
display: flex;
flex-direction: column;
}
.trailers_conteiner {
    height: 100%;
    width: 100%;
}
.video_trailers_swiper{
padding-top: 24px;
display: flex;
flex-grow: 1;
}
.title_trailers_buttons {
display: flex;
gap: 20px;
align-items: center;
}
.wrap_button_swipe {
display: flex;
border: 1px solid rgb(30,213,169);
border-radius: 30px;
 height: 30px;
 }
 .wrap_trailer_img{
    position: relative;
    height: 168px;
 }
 .wrap_trailer_img img{
 position: absolute;
 top: 0;
 left: 0;
 object-fit: cover;
 width: 100%;
 height: 100%;
 }
 .icon_arrow_trailers{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }
 .MuiSvgIcon-fontSizeMedium:hover{
 font-size: 80px;
 }


