
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
     color: #000; 
    margin: 0;
    padding: 0;
  }
  .conteiner_swiper{
    padding-top: 24px;
    opacity: 1;
    width:100%;
    position: relative;
    box-sizing: border-box;
     animation: 900ms ease-in-out showSwiper;
  }

@keyframes showSwiper{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
} 

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container_card{
  display: flex;
  flex-direction: column;
  }
  .img_card{
position: relative;
min-height: 150px;
height: 225px;
border-radius: 8px;
overflow: hidden;

  }
  .img_card img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .text_card {
    padding: 26px 10px 12px;
    margin-bottom: 15px;
   
  }

  .title_card{
    font-weight: 700;
    color: #000;
  }
  p.title_date{
    color: rgba(0,0,0,.6);
  }
  .background_green{
    position: absolute;
    background-image:url('https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg');
   background-position: 50% 94%;
   background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
