.footer{
    margin-top: 25px;
    height: 300px;
   text-align: center;
   color: aliceblue;
    background-image:radial-gradient(at 30% top,#031d33 0%,rgba(3,37,65,1) 70%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}