.info_about_film{
    width: 100%;
    height: 100%;
  }
  
  .content_wrapper_movies{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    justify-content: center;
  }
  .left_white_column{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 80px - 268px);
    max-width: calc(1400px - 80px - 268px);
    padding-right: 30px;
    flex-grow: 1;
  }
  .text_column{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  .text_column h3{
    color: #000;
  }
  
  .panel_top_billed_slider{
    width: 100%;
    height: 310px;
   
  }
   .swiper{
  height: 100%;
   width: 100%;
  } 
  .card_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
   border-radius: 8px;
   border: 1px solid rgba(227,227,227, 1);
  }
  .card_block_for_img{
   position: relative;
   width: 100%;
   height: 175px;
  }
  .text_for_card{
  padding: 5px 12px 0 10px;
  }
  .text_for_card p:first-child{
    font-size: 1em;
    font-weight: 700;
  }
  p.character{
    font-size: .9em;
  
  }
  .card_block_for_img img{  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  }
  
    .swiper-scrollbar-drag{
    top: 1px !important; 
    height: 6px !important;
    background-color: #c8c8c8 !important ;
  }  
  .swiper-scrollbar{
    background-color:transparent !important;
  } 
  .view_more{
    height: 254px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .view_more p{
    position: relative;
    font-weight: 700;
    color: #000;
  }
  .view_more p::after{
    content: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-830-arrow-thin-right-5c2f4e65afc985448cd9042f9d64426f1e002fbd3c2546053d190fa27f77600f.svg");
  position: absolute;
    left: 84px;
      top: 2px;
    width: 18px;
  height: 18px;
  display: block;
  }
  .right_grey_column{
    min-width: 260px;
    width: 260px;
    }  
  .info_status_links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .social_links{
    display: flex;
    width: 100%;
    height: 60px;
    gap: 13px;
  }
  .fb_block{
    position: relative;
    width: 31px;
    height: 31px;
  }
  .fb_block img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .twitter_block{
    position: relative;
    width: 31px;
    height: 31px;
  }
  .twitter_block img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .inst_block{
    position: relative;
    width: 31px;
    height: 31px;
  }
  .inst_block img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .homepage_block{
    position: relative;
    width: 31px;
    height: 31px;
  }
  .homepage_block img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .status_movie_info{
    gap: 18px;
    flex-grow: 1;
  display: flex;
  flex-direction: column;
  }
  /* section media */
  
  
  section.media{
    width: 100%;
    display: flex;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;
  }
  .media{
    display: flex;
    flex-direction: column;
  }
  .media_menu{
    width: 100%;
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    
  }
  .media_menu ul{
    width: 100%;
  display: flex;
  align-self: center;
  gap: 50px;
  }
  
  .media_menu h3{
    font-weight: 600;
      font-size: 1.4em;
      color: #000;
  } 
  .media_menu ul li{
    display: flex;
    gap: 5px;
    position: relative;
  font-size:1.1em;
  font-weight: 600; 
  }
   li .active_class{
  position: absolute;
  top: 27px;
  width: 100%;
  height: 4px;
  background-color: #000 !important;
  opacity: 1 !important;
  }
  .media_menu span{
    color: #000;
    opacity: 0.6;
  }
  .media_content{
    width: 100%;
    height: 300px;
  
  }
  .media_scroller{
    width: 100%;
    height: 307px;
    border-radius: 8px 8px 0 0;
  }
  .container_for_img{
    position: relative;
    height: 300px;
  }
  .container_for_img img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }
  .view_more_media{
    width: 100%;
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .view_more_media p{
    position: relative;
    font-size: 1.3em;
    font-weight:500;
  }
  .view_more_media p::after{
    position:absolute;
    content: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-650-circle-right-74964888ec28ed7284bac83c6b9be1db85809561491c21451c041079b788cd06.svg');
    margin-left: 6px;
    width: 25px;
    height: 25px;
    top: 2px;
  }
  .play_circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }
  .icon_arrow{
    position: relative;
    z-index: 200;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);  height: 67px;
    width: 67px;
  }
  .MuiSvgIcon-fontSizeLarge:hover{
    transition: all 200ms ease-in-out;
    opacity: .6;
  }
  .play_trailer{
    cursor: pointer;
    padding-left: 32px;
    position: relative;
  }
  .play_trailer:hover{
    transition: all 200ms ease-in-out;
    opacity: .6;
  }
  .play_trailer::before{
    content: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-175-play-806cb05551791b8dedd7f8d38fd3bd806e2d397fcfeaa00a5cc9129f0819fd07.svg');
    position: absolute;
    top: 0;
    left: 5px;
    width: 23px;
    height: 23px;
    filter: invert(1);
  }
  .play_trailer p{
   color: #fff !important;
   font-weight: 600;
  }