html{
  height: 100%;
}

/* #root{
  height: 100%;
  
} */
.wrapper_conteiner{
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
    /* background-color: #fff; */

  }
  @media screen and (max-width: 1200px){
    .wrapper_conteiner{
      max-width: 900px;
      height: 100%;
      margin: 0 auto;
    }
    
  }
  @media screen and (max-width: 901px){
    .wrapper_conteiner{
      max-width: 850px;
      height: 100%;
      margin: 0 auto;
    }
    
  }
   *{
  
    box-sizing: border-box;
   }
    :active, :hover, :focus {
      outline: 0;
      outline-offset: 0;
  }
  
  h2,h3,p{
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3",Arial,sans-serif;
  }
  ul,
  ol,a {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }


  body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3",Arial,sans-serif;
    background-color: #fff;
  } 
  .wrapper_all{
    width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  main{
    flex: 1 1 auto;
  }
